.container-text{
    max-width: 50%;
    margin: 5rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

.main-div{
  background:url("../../images/lambo.webp");
  background-repeat: no-repeat;
  background-position: left;
  /* width: 100vw; */
  height: 100vh;
  background-size: cover;
}